
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- Header Start -->
@await Component.InvokeAsync("_AboutMe")
<!-- Header End -->
<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?app=desktop&v=eWgLCtuGKy0&list=PLUCOD892XGSb_p2hdXKJTE5ju7UMy1w4P&index=45" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
<!-- About Start -->
@await Component.InvokeAsync("_AboutSection")

<!-- About End -->
<!-- Expertise Start -->
@await Component.InvokeAsync("_SkillSection")

@await Component.InvokeAsync("_ExperienceSection")
@await Component.InvokeAsync("_EducationSection")

              
<!-- Expertise End -->
<!-- Service Start -->
@await Component.InvokeAsync("_ServiceSection")
<!-- Service End -->
<!-- Projects Start -->
@await Component.InvokeAsync("_ProjectSection")
<!-- Projects End -->
<!-- Team Start -->
@await Component.InvokeAsync("_TeamSection")
<!-- Team End -->
<!-- Testimonial Start -->
@await Component.InvokeAsync("_TestimonialSection")
<!-- Testimonial End -->
<!-- Contact Start -->
@await Component.InvokeAsync("_ContactSection")
<!-- Contact End -->
<!-- Map Start -->

<!-- Map End -->
<!-- Copyright Start -->
<div class="container-fluid bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom text-secondary" href="#">My Portfolio</a>, Tüm Hakları Saklıdır.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a class="border-bottom text-secondary" href="https://htmlcodex.com">HTML Codex</a>
                <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Copyright End -->

