@model UpdateAboutSectionDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkımda Güncelle</h3>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Açıklama</label>
    <textarea type="text" asp-for="Description" class="form-control" rows="4"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <label>Görsel 1 URL</label>
    <input type="text" asp-for="AboutImage1" class="form-control" />
    <span asp-validation-for="AboutImage1" class="text-danger"></span>
    <br />
    <label>Görsel 2 URL</label>
    <input type="text" asp-for="AboutImage2" class="form-control" />
    <span asp-validation-for="AboutImage2" class="text-danger"></span>
    <br />
    <label>Madde 1</label>
    <input type="text" asp-for="Item1" class="form-control" />
    <span asp-validation-for="Item1" class="text-danger"></span>
    <br />
    <label>Madde 2</label>
    <input type="text" asp-for="Item2" class="form-control" />
    <span asp-validation-for="Item2" class="text-danger"></span>
    <br />
    <label>Madde 3</label>
    <input type="text" asp-for="Item3" class="form-control" />
    <span asp-validation-for="Item3" class="text-danger"></span>
    <br />
    <button class="btn btn-primary"><i class="fas fa-save"></i> Kaydet</button>
</form>