@model UpdateEducationDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Eğitim Güncelle</h3>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Üniversite Adı</label>
    <input type="text" asp-for="SchoolName" class="form-control" />
    <br />
    <label>Bölüm Adı</label>
    <input type="text" asp-for="Department" class="form-control" />
    <br />
    <label>Başlama Yılı</label>
    <input type="text" asp-for="StartYear" class="form-control" />
    <br />
    <label>Mezuniyet Yılı</label>
    <input type="text" asp-for="FinishYear" class="form-control" />
    <br />
    <button class="btn btn-primary"><i class="fas fa-pen"></i> Güncelle</button>
</form>